In [3]:
import pandas as pd

df=pd.read_csv("sales_data.csv")
df.head()

,order_id,customer_name,region,product,sales_rep,order_date,quantity,unit_price,discount,shipping_cost,revenue,total_cost,priority,sales_rep_email
0,ELX-1000,TechMart,North,Fitbit Charge 6,Jane Doe,2023-04-25,9,887.72,0.17,22.84,"$6,631.27",6654.11,medium,jane.doe@yahoo.com
1,ELX-1001,TechMart,Central,Power Bank,John Smith,2023-01-16,6,274.09,0.13,5.53,1430.75,1436.28,HIGH,john.smith@business.org
2,ELX-1002,Electronics Plus,Central,Power Bank,Jane Doe,2023-08-18,38,344.66,0.22,20.18,10215.72,10235.90,High,jane.doe@yahoo.com
3,ELX-1003,Electronics Plus,West,Screen Protector,Bob Wilson,2023-03-21,14,1149.30,0.08,6.85,14802.98,14809.83,medium,BOB.WILSON@YAHOO.COM
4,ELX-1004,TechMart,East,Wireless Charger,Mike Davis,2023-05-16,3,879.73,0.13,24.46,2296.1,2320.56,Medium,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         1050 non-null   object
 1   customer_name    1050 non-null   object
 2   region           1050 non-null   object
 3   product          1050 non-null   object
 4   sales_rep        1050 non-null   object
 5   order_date       1050 non-null   object
 6   quantity         1050 non-null   int64
 7   unit_price       1050 non-null   float64
 8   discount         1029 non-null   object
 9   shipping_cost    1050 non-null   float64
 10  revenue          1016 non-null   object
 11  total_cost       1050 non-null   float64
 12  priority         918 non-null    object
 13  sales_rep_email  899 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 115.0+ KB

Looking at the DataFrame info, several columns have incorrect data types that should be converted:
Columns that need conversion:

*order_date (currently object)* - Should be converted to datetime64 since this represents dates  
*discount (currently object)* - Should be converted to float64 since discounts are typically numeric values (percentages or amounts)  
*revenue (currently object)* - Should be converted to float64 since revenue is a monetary/numeric value.

*customer_name*

In [5]:
df.customer_name.unique()

array(['TechMart', 'Electronics Plus', '  TechMart  ', 'GadgetHub',
       'Digital World', 'Smart Store', '  Smart Store  ',
       '  Digital World  ', '  GadgetHub  ', '  Electronics Plus  ',
       '    Digital World    ', '    Smart Store    ',
       '      Electronics Plus      ', '  Smart Store   Inc.',
       '  TechMart   Inc.', 'GadgetHub Inc.', 'Electronics Plus Inc.',
       'TechMart Inc.', 'Digital World Inc.', 'Smart Store Inc.',
       '  Electronics Plus   Inc.', '  GadgetHub   Inc.'], dtype=object)

In [7]:
import re

df['customer_name'] = (
    df['customer_name']
    # Remove leading and trailing spaces
    .str.strip() 

    # Replace multiple spaces with a single space
    .apply(lambda x: re.sub(r'\s+', ' ', x))  

    # Remove 'Inc.', 'Inc', and variations with trailing spaces
    .str.replace(r'\s*Inc\.*$', '', regex=True)
    
    # Convert to title case for consistency 
    .str.title()  
)

In [9]:
df.customer_name.unique()

array(['Techmart', 'Electronics Plus', 'Gadgethub', 'Digital World',
       'Smart Store'], dtype=object)

*region*

In [10]:
df.region.unique()

array(['North', 'Central', 'West', 'East', 'South', 'west', 'east',
       'central', 'NORTH', 'WEST', 'EAST', 'CENTRAL', 'north', 'south',
       'SOUTH'], dtype=object)

In [11]:
df['region']=df.region.str.capitalize()

In [12]:
df.region.unique()

array(['North', 'Central', 'West', 'East', 'South'], dtype=object)

*product*

In [13]:
df['product'].value_counts().sort_index()

product
AIRPODS PRO              2
AirPods Pro             50
AirPods-Pro              5
Apple AirPods Pro        2
Apple MacBook Pro        1
Apple Watch Series 9    62
Apple iPhone 15          5
Bluetooth Speaker       61
Dell XPS 13             62
Fitbit Charge 6         62
Galaxy S24               2
Gaming Headset          54
IPHONE 15                1
IPHONE CASE              2
Laptop Stand            68
MACBOOK PRO              2
MacBook Pro             43
MacBook-Pro              1
Phone Case               1
Phone Holder            59
Portable Charger         2
Power Bank              47
PowerBank                2
SAMSUNG GALAXY S24       3
SCREEN PROTECTOR         1
Samsung  Galaxy  S24     3
Samsung Galaxy S24      54
Screen Protector        46
Screen-Protector         3
Sony WH-1000XM5         55
Type-C Cable             3
USB C Cable              6
USB-C Cable             42
USBC Cable               1
WIRELESS CHARGER         3
Wireless Charger        78
Wireless-Charger         5
airpods pro              1
galaxy s24               1
iPad Air                51
iPhone 15               41
iPhone Case             39
iPhone-15                1
iPhone-Case              5
iphone 15                1
iphone case              1
macbook pro              2
power bank               2
screen protector         2
usb-c cable              2
wireless charger         2
Name: count, dtype: int64

*order_date*

In [14]:
# Convert order_date to datetime
df['order_date'] = pd.to_datetime(df['order_date'])

*discount*

In [15]:
df.discount

0       0.17
1       0.13
2       0.22
3       0.08
4       0.13
        ...
1045    0.03
1046    0.11
1047    0.08
1048    0.03
1049    0.25
Name: discount, Length: 1050, dtype: object

In [16]:
# Convert discount to float
df['discount'] = pd.to_numeric(df['discount'], errors='coerce')

*revenue*

In [17]:
df.revenue

0       $6,631.27
1         1430.75
2        10215.72
3        14802.98
4          2296.1
          ...
1045     10922.39
1046     31138.37
1047      1688.18
1048      4458.65
1049      7020.29
Name: revenue, Length: 1050, dtype: object

In [18]:
# Remove the leading dollar sign from the 'revenue' values
df['revenue'] = df['revenue'].str.lstrip('$')

# Remove commas from the 'revenue' values to prepare for numeric conversion
df['revenue'] = df['revenue'].str.replace(',', '', regex=False)

In [20]:
# Convert to numeric type
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

*priority*

In [21]:
df['priority'].unique()

array(['medium', 'HIGH', 'High', 'Medium', nan, 'Low', 'high', 'low'],
      dtype=object)

In [22]:
df.priority=df.priority.str.capitalize()

In [23]:
priority_order = ['Low', 'Medium', 'High']

df['priority'] = pd.Categorical(
    df['priority'],
    categories=priority_order,
    ordered=True
)

In [24]:
df.priority.sort_values(ascending=True)

1049    Low
269     Low
706     Low
266     Low
265     Low
       ...
1017    NaN
1018    NaN
1025    NaN
1032    NaN
1038    NaN
Name: priority, Length: 1050, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']